/* Стили для изображений в карточках */
    .card-img {
      width: 100%; /* Задает ширину изображения под ширину карточки */
      height: 800px; /* Определяет фиксированную высоту */
      object-fit: cover; /* Устанавливает обрезку изображения, чтобы не возникали искажения */
    }