<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>© 2023 My Django Website | Все права защищены.</p>
        <p>
            <a href="#" class="text-white text-decoration-none mx-2">Политика конфиденциальности</a>
            |
            <a href="#" class="text-white text-decoration-none mx-2">Контакты</a>
        </p>
        <p>
            <a href="https://facebook.com" class="text-white text-decoration-none mx-2" target="_blank">Facebook</a>
            <a href="https://twitter.com" class="text-white text-decoration-none mx-2" target="_blank">Twitter</a>
            <a href="https://instagram.com" class="text-white text-decoration-none mx-2" target="_blank">Instagram</a>
        </p>
    </div>
</footer>