{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block content %}

<main>
        <section>
            <h2>Поступление в Хогвартс</h2>
            <p>Поступление в Хогвартс — это заветная мечта всех юных волшебников. Однако, не все знают, как именно происходит процесс зачисления в эту знаменитую школу.</p>
            <ol>
                <li><strong>Магическое приглашение</strong>: Хогвартс самостоятельно выбирает своих учеников. Как только ребенку исполняется 11 лет, если он обладает магическими способностями, ему приходит письмо с приглашением. Письмо доставляется совой и содержит всю необходимую информацию о зачислении, включая список предметов, учебников и принадлежностей.</li>
                <li><strong>Семьи маглов</strong>: Если ребенок из семьи маглов (немагических людей), его родители
                        получают дополнительные разъяснения о мире волшебства и о том, как их ребенок будет учиться в Хогвартсе.</li>
                <li><strong>Покупка школьных принадлежностей</strong>: После получения письма ученики отправляются на Косой переулок, чтобы приобрести всё необходимое для учебы — от волшебной палочки до учебников и магической формы.</li>
                <li><strong>Платформа 9 ¾</strong>: Школьники отправляются в Хогвартс на поезде с железнодорожной станции Кингс-Кросс в Лондоне. Чтобы попасть на платформу 9 ¾, необходимо пройти через магическую стену между платформами 9 и 10.</li>
            </ol>
        </section>
        <section>
            <h2>Местонахождение Хогвартса</h2>
            <p>Хогвартс расположен в живописной и уединенной местности Шотландии. Замок спрятан от посторонних глаз благодаря мощным магическим чарам. Эти чары делают школу невидимой для маглов. Даже если магл случайно окажется рядом, он увидит лишь старые руины с табличкой, предупреждающей об опасности.</p>
            <p>Школа возвышается на холмах, окруженных густыми лесами и глубоким озером, известным как Чёрное озеро. Рядом с замком располагается Запретный лес, полный магических существ, в который запрещено заходить ученикам без сопровождения взрослых.</p>
            <p>Хогвартс — это настоящее волшебное царство: огромные башни замка тянутся к небу, лестницы постоянно меняют своё положение, а портреты на стенах оживают. Здесь царит атмосфера магии, дружбы и приключений.</p>
        </section>
    </main>
{% endblock %}