<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Главная страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'news' %}">Новостная страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-success" href="{% url 'page3' %}">Третья страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-warning" href="{% url 'page4' %}">Четвертая страница</a>
    </li>
</ul>